<div class="container">
  <div style="text-align: center; ">
    <h1 style="color: Black; font-family: Cooper Black;">¡Bienvenido a nuestra página de anime!</h1>

    <br><br>
    <h5>BUSQUEDA:</h5>
    <input type="text" [(ngModel)]="nombre">
    <br> <br>
    <button class="btn btn-info" (click)="buscar()">Buscar</button>
    <br><br>

    <div class="container">

      <h3 id="filtro" style="color: #212F3C ; font-size:20px ; font-family: 'Comic Sans MS';">Filtrar resultados : </h3>
      <select name="filter" id="filter" [(ngModel)]="filtro">
        <option value="">Ninguno</option>
        <option value="g">Todas las edades (G)</option>
        <option value="pg">Niños (PG)</option>
        <option value="pg13">Adolescentes (PG-13)</option>
        <option value="r17">Mayores de edad (R)</option>
        <option value="r">Desnudez Leve (R+)</option>
        <option value="rx">XXX (Rx)</option>
      </select>
      <div>
      </div>
    </div>
    <br><br>

    <div *ngIf="!cargando">
      <h4>Pagina: {{page}} de {{maxPage}}</h4>
        <table style="width: 100%;">
          <tr>
            <td style="text-align: left;">
              <button *ngIf="page<=maxPage && page>1" (click)="retroceder()" class="btn btn-danger"> << </button>
              <button *ngIf="page<=1" class="btn btn-danger disabled" disabled> << </button>
            </td>
            <td style="text-align: right;">
              <button *ngIf="page>=1 && page<maxPage" (click)="avanzar()" class="btn btn-primary"> >> </button>
              <button *ngIf="page>=maxPage" class="btn btn-primary disabled" disabled> >> </button>
            </td>
          </tr>
        </table>
      <br><br>
      <div *ngIf="animes != undefined">
        <div *ngIf="animes.results.length>0">
          <table *ngFor="let p of animes.results" class="table table-dark">
            <thead class="thead-light">
              <tr>
                <th style="text-align: center; width: 20%;">NOMBRE</th>
                <th style="text-align: center; width: 13%;">EPISODIOS</th>
                <th style="text-align: center; width: 13%;">PUNTUACIÓN</th>
                <th style="text-align: center; width: 13%;">CLASIFICACION</th>
                <th style="text-align: center; width: 41%;">POSTER</th>
              </tr>
            </thead>
            <tr>
              <td style="text-align: center; width: 20%;">
                {{p.title}}
              </td>
              <td style="text-align: center; width: 13%;">
                {{p.episodes}}
              </td>
              <td style="text-align: center; width: 13%;">
                {{p.score}}
              </td>
              <td style="text-align: center; width: 13%;">
                {{p.rated}}
              </td>
              <td style="text-align: center; width: 41%;">
                <a href="{{p.url}}" target="_blank"><img src="{{p.image_url}}" class="img-fluid"></a>
              </td>
            </tr>

            <tr style="text-align: center;">
              <td colspan="5">
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{p.mal_id}}">SINOPSIS</a>
                      </h4>
                    </div>
                    <div id="collapse{{p.mal_id}}" class="panel-collapse collapse">
                      <ul class="list-group">
                        <li class="list-group-item-dark">{{p.synopsis}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div *ngIf="cargando">
        <h5>CARGANDO...</h5>
      </div>
    </div>
